html, body {
    margin: 0;
    padding: 0;
}
*{
    box-sizing: border-box;
}
header{
    height: 200px;
    width: 100%;
    background : url("./THJJRUhNlEc.png");
    background-size: cover;
    background-repeat: no-repeat; 
    color:white;
}
.header-color{
    background: rgba(0,0,0,0.7);
    height: 100%;
    width: 100%;
}
.container{
    display: flex;
    width:90%;
    height: 100%;
    margin: 0 auto;
    align-items: center;   
    justify-content: space-between; 
}

/*=======================
        Topography
=========================*/
a{
    color:inherit;
    text-decoration: none;
    cursor: pointer;
}
a:hover{
    color:orangered;
    text-decoration: underline;
}

/*============================
        layout design
=============================*/
.searchContainer{
    position: absolute;
    width: 100%;
}
.container-search{
    position: relative;
    background: white;
    top:-20px;
    height: 40px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    border-radius: 3px;
}
.searchbox{
    padding:0px 5px;
    border-right: 1px solid #000;
    height: 100%;
    width: 100%; 
    display: flex;
    align-items: center;
}
.searchbox i{
      padding: 0 5px;
}
.searchbox input{
    margin-left: 5px;
    border:none;
    width: 100%;
    outline: none;
}
.btn{
    border:none;
    padding:10px 15px;
    background: transparent;
    font-size: 18px;
}
.btn-search{
    background: rgba(0,0,0,0.1);
    height: 100%;
    padding:10px 25px;
}
.main{
    padding:30px 0px;
}

.movieDetails-container{
    display: flex;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    padding: 20px;
    width: 100%;
    margin: 10px 0px;
    border-radius: 5px;
} 
.movieDetails-container img{
    max-width: 150px;
    max-height: 200px;
    margin-right: 20px;
    border-radius: 5px;
}
.top-movie,
.middle-movie{
    display: flex;
    align-items: center;
}

.rating{
    padding: 0px 5px 0px 15px;
    color: orange;
}
.title-movie{
    text-transform: capitalize;
}
.middle-part{
    margin-right: 20px;
    display: flex;
    background: transparent;
    border: none;
    outline: none;
    align-items: center;
    justify-content: center;
}
.middle-part i{
    margin-right: 5px;
}
.addWatchlist:hover{
    color:orangered;
    cursor: pointer;
    outline: none;
}

@media all and (max-width:480px){
    .middle-movie{
        flex-direction: column;
        align-items: flex-start; 
    }
    .rating{
       padding-left:5px; 
    }
    .middle-part{
    margin-right: 0px;
    }
}
.description-movie{
    color: #6B7280;

}

.container-main{
    flex-direction: column;
}